<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
<title>{{ page.title }}</title>
<meta name="description" content="{{ page.description }}">
<meta name="author" content="Coin Money Cap">
<link rel="shortcut icon" href="/skin/frontend/assets/global/images/favicon.png" type="image/png">

<link href="/skin/frontend/assets/global/css/style.css" rel="stylesheet">
<link href="/skin/frontend/assets/global/css/theme.css" rel="stylesheet">
<link href="/skin/frontend/assets/global/css/ui.css" rel="stylesheet">
<link href="/skin/frontend/assets/admin/layout1/css/layout.css" rel="stylesheet">
<script src="/skin/frontend/assets/global/plugins/modernizr/modernizr-2.6.2-respond-1.1.0.min.js"></script>

<!-- BEGIN PAGE STYLE -->
<link href="/skin/frontend/assets/global/plugins/datatables/dataTables.min.css" rel="stylesheet">
<!-- END PAGE STYLE -->