<!DOCTYPE html>
<html lang="en">
  <head>
    {% include head.html %}
  </head>
  
  <!-- BEGIN BODY -->
  <body class="color-default theme-sdtl sidebar-top fixed-topbar">
    <!--[if lt IE 7]>
    <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <section>
      <!-- BEGIN SIDEBAR -->
      {% include sidebar.html %}
      <!-- END SIDEBAR -->
      <div class="main-content">
        <!-- BEGIN TOPBAR -->
        {% include topbar.html %}
        <!-- END TOPBAR -->
        <!-- BEGIN PAGE CONTENT -->
        <div class="page-content">
          <div class="header">
            <h1><strong>{{page.coin_a_symbol}}</strong> <small>Buy & Sell</small></h1>
            <div class="breadcrumb-wrapper">
              <ol class="breadcrumb">
                <li><a href="/">Homepage</a></li>
                <li><a href="{{page.parent-url}}">{{page.coin_a_symbol}}</a></li>
                <li class="active">Markets</li>
              </ol>
            </div>
          </div>


<div class="row">
      <div class="col-md-12 col-xs-12">
        <div class="panel">
          <div class="panel-header">
            <h2><strong>{{page.coin_a_symbol}} Markets</strong></h2>
          </div>
          <div class="panel-content">
            <div class="nav-tabs2">
              <ul class="nav nav-tabs nav-red">
                <li><a href="{{page.parent-url}}" ><i class="icon-home"></i> Ovewview</a></li>
                <li class="active"><a href="#markets"><i class="icon-user"></i> Markets</a></li>
                <li><a href="{{page.parent-url}}news.html" ><i class="icon-cloud-download"></i> News</a></li>
                <li><a href="{{page.parent-url}}discussion.html" ><i class="icon-cloud-download"></i> Discussion</a></li>
                <li><a href="{{page.parent-url}}historical.html" ><i class="icon-cloud-download"></i> Historical data</a></li>
                <li><a href="{{page.parent-url}}trend.html" ><i class="icon-cloud-download"></i> Trends</a></li>
                <li><a href="{{page.parent-url}}calculator.html" ><i class="icon-cloud-download"></i> Calculator</a></li>
              </ul>
              <div class="tab-content">
                <div class="tab-pane active" id="cmc-overview">



                    <div class="row">

                      <div class="col-md-12 col-xs-12">
                        <div class="panel">
                          <div class="panel-header bg-primary">
                            <h3>Buy & Sell {{page.coin_a_symbol}} ({{page.coin_a_name}})</h3>
                          </div>
                            <div class="panel-content">
                             <table class="table table-striped">
                                <thead>
                                  <tr>
                                    <th>N.</th>
                                    <th>Name</th>
                                    <th>Pair</th>
                                    <th>Volume (24h)</th>
                                    <th>Price</th>
                                    <th>Volume (%)</th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr>
                                    <td>1</td>
                                    <td>Binance</td>
                                    <td>
                                      <span class="c-primary"><a href="#">ETH/BTC</a></span>
                                    </td>
                                    <td>
                                      $140,489,000
                                    </td>
                                    <td>
                                      $0.074014 
                                    </td>
                                    <td>
                                      31.58%  
                                    </td>
                                  </tr>
                                  <tr>
                                    <td>1</td>
                                    <td>Binance</td>
                                    <td>
                                      <span class="c-primary"><a href="#">ETH/BTC</a></span>
                                    </td>
                                    <td>
                                      $140,489,000
                                    </td>
                                    <td>
                                      $0.074014 
                                    </td>
                                    <td>
                                      31.58%  
                                    </td>
                                  </tr>
                                  <tr>
                                    <td>1</td>
                                    <td>Binance</td>
                                    <td>
                                      <span class="c-primary"><a href="#">ETH/BTC</a></span>
                                    </td>
                                    <td>
                                      $140,489,000
                                    </td>
                                    <td>
                                      $0.074014 
                                    </td>
                                    <td>
                                      31.58%  
                                    </td>
                                  </tr>
                                  <tr>
                                    <td>1</td>
                                    <td>Binance</td>
                                    <td>
                                      <span class="c-primary"><a href="#">ETH/BTC</a></span>
                                    </td>
                                    <td>
                                      $140,489,000
                                    </td>
                                    <td>
                                      $0.074014 
                                    </td>
                                    <td>
                                      31.58%  
                                    </td>
                                  </tr>
                                  
                                  
                                </tbody>
                              </table>

                            </div>
                        </div>
                      </div>

                      
                    </div>

         
                    <!-- end row -->

                </div>
               
              </div>
            </div>
          </div>
        </div>
      </div>

</div>

          {{ content }}

          
          {% include footer.html %}
        </div>
        <!-- END PAGE CONTENT -->
      </div>
      <!-- END MAIN CONTENT -->

    </section>
    
    <!-- BEGIN SEARCH -->
    {% include search.html %}
    <!-- END SEARCH -->
    <!-- BEGIN PRELOADER -->
    <div class="loader-overlay">
      <div class="spinner">
        <div class="bounce1"></div>
        <div class="bounce2"></div>
        <div class="bounce3"></div>
      </div>
    </div>
    <!-- END PRELOADER -->
    <a href="#" class="scrollup"><i class="fa fa-angle-up"></i></a> 
    
    {% include js.html %}


    <!-- END PAGE SCRIPT -->
    <script src="/skin/frontend/assets/admin/layout1/js/layout.js"></script>
  </body>
</html>
